html
    head
        block title
        title=  '关于博主 - ' + site.title

        script(src="https://use.typekit.net/jdb5cpn.js")
        script
            try{Typekit.load({ async: true });}catch(e){}
        +h.headers
        +h.load('/template/post.scss', 'font')

    body
        .bg_site(style='background-image: url(/template/image/bgimg.png)')
        .info_title
            a.about_back_to_home(href="/")="返回首页"
        #post
            img.about_icon(src=site.site_avatar, alt=site.title)
            .post_info
                span.contact 联系方式
                a.tag(href='https://weibo.com/robertlangdon')='微博'
                a.tag(href='https://pawoo.net/web/accounts/644925')='趴窝'
                a.tag(href='mailto:matrixk@outlook.com')='邮件'
            .post_content
                h1 关于博主
                p
                    span 你好呀！我是「禾城」的博主，通称天桥半仙矩阵良（玩笑）。
                    span 粤北客家人，目前在珞珈山人民公园学习物理学，感兴趣的方向是高能物理实验。
                    span 本质话唠博主
                    span 同人写手，偶尔兼任版工和剪刀手。
                    span 标准的宅腐一代。
                    span 沉迷《咲-Saki-》，阿知贺厨一枚，决赛吃四我也爱她们
                    span 这个博客更多还是用来记录生活和兴趣爱好上的产出，物理专业和技术的内容会少一些。
                    span “天桥半仙”来源于某次大家开玩笑说如果失业了用自己专业技能能去干什么，我想了想觉得大概只能去天桥底下挂牌行骗，量子算命。
                    span 朋友们都叫我阿良或者政委，政委这个叫法大概是因为经常充当大家的知心大姐姐，并且是个坚定的共产主义者。
                    span 博文中经常出现的雅湘、阿苏、红茶、姐夫、暗暗、纤维等等等等都是我的朋友们。

                h1 墙头列表
                ul 
                    li 咲-Saki-：咲和、照堇、晴灼、稳憧、龙怜、哩姬、神霞、透一、加桃、爽由、锻恒，宫守站一家亲，久相关在部Cap和久真之间反复横跳
                    li シノハユ：闲无/杏果、略倾向早璃/慕（但是本篇又倾向早璃/良子）
                    li NEW GAME!!：光伦不拆，青叶相关没有执念，可能略偏一二三/青叶一点点
                    li 小林家的妹抖龙：小林/托尔
                    li EVA：薰嗣、丽香
                    li 海猫鸣泣之时：莱御、战贝、胶法胶
                    li 白夜追凶&刀锋上的救赎：关周、彬诚、宇楠，如果你愿意吃学姐小周百合组我也十分愿意陪聊……！
                    li 寒战：简刘
                    li 社交网络：EME
                p
                    span 总体来说什么故事都看，什么取向都吃，偏爱百合与耽美。
                    span 也看原耽，偏爱互攻，喜欢的作者大概有功夫包子、淮上、常叁思，实际看文的时候并不挑作者，写得对胃口都看。
                    span 鬼船雷达体质，巅峰是第三话爱上一个CP，第四话就BE了……
                    span 但该体质似乎在百合作品里有豁免。
                    span 人活着就是为了八神コウ！
                h1 版权声明
                p
                    span 博客内所有文章、图片（影视剧、动画截图除外）均为个人原创，转载请联系博主获得许可。由无授权转载引起的任何法律纠纷，博主概不负责，并保留追究责任的权利。
                    span 博客内声明开源的代码片段可随意转载、取用、修改。
